.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:chocolate; 
 } 

.main-nav
{
  float: left;
  list-style:none;
  margin-top:10px;
}
.row
{
  max-width:1200px;
  margin:auto;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));     
  background-size:cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:chocolate;
  float : left;
}
.h1	{
  color: #999999;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  }



.main-nav
{
  float: left;
  list-style:none;
  margin-top:10px;
}
.main-nav li{
  display:inline-block;
}
.main-nav li a{
  color:black;
  text-decoration:none;
  padding:5px 20px;
  font-family:"Roboto",sans-serif;
  font-size:15px;
}
a .nav-link{
  border: 2px solid green !important;
  color:white !important;
}
a:hover{
  border:1px solid green !important;
  color: white !important;
}

.choc img{
  width:150px;
  height:auto;
  float :center; 

}
.navbar {
  background-color: #fe973c !important;
}
.header{
  text-align: center;
  background-color:chocolate !important;
  margin: 0 auto;
  max-width: 1000px;
  align-content: center;
  height:150px;
}

.footer{
  /* text-align:center;
  background-color: #fe973c;
  list-style-type: none;
  margin: 0 auto;
  
  max-width:1000px;
  align-content:center;
  overflow: hidden; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(218, 214, 214);
  color: white;
  text-align: center;
  color:black;
    
}
li{
  float:left;
}
li a{
  display: block;
  color: black;
  text-align: center;
  padding:15px; 

}
.row
{
  max-width:1200px;
  margin:auto;
}
.button
{
  margin-top:30px;
  margin-left:440px
}
.Login {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 300px;
  align-content: center
} 
.text
{
  color:orange;
  margin: 0 auto;
  max-width: 1000px;
  align-content: center
}
 .Sign{
  padding: 60px 0;
  margin: 0 auto;
  max-width: 300px;
  align-content: center
}


